/*html selector*/
img{
	padding: 10px;
}
/*html selector*/
.April{

	text-align: center;
}
/*html seletor*/
body{
background-image: url('background.jpg');
background-size: cover;
font-family: Tahoma;  

.May{
background-color:white;}